:root{
--white:#fff;
--green:#6bbf43;
--grey:#f3f4f8;
--green-2:rgb(255,255,255);
--grey-2:#eeeeed;
--black:black;
}
body{

background-color:rgb(255,255,255);

}
.navbar-nav .nav-link{

    margin-left:15px;
}
.navbar-brand img{
height: 45px;
width: 45px;

border-radius: 50%;


}
.navbar-nav a{ 


font-size: 15px;
color: black;
font-weight:650;
list-style: none;
text-decoration: none;
}
.navbar-nav{

    margin-left: 250px;
    align-items: center;
    
}
.navbar-nav .nav-link:hover{
    color:var(--green);
}
.navbar-nav button{
    border-radius: 15px;
    border:2px solid white;
    font-weight: lighter;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 40px;
    height: 40px;
    
    border-top-left-radius: 30px;
    border-left: 20px;
    border-bottom-left-radius: 30px;
    background-color:var(--green);
    color: white;
    border-top-right-radius: 30px;
    border-right:20px;
    border-bottom-right-radius: 30px;

}
.navbar-nav button:hover{
    color:var(--white)!important;
    font-weight: bold;
}
.navbar-nav span {
margin-left: 37px;
font-size: 15px;
border: 20px solid var(--grey);
background-color: var(--grey);
border-radius: 50%;
margin-right: 15px;
}

.home-hero-wrapper .carousel-caption{

text-align: center;
margin-top: 10px;
height: 660px;


}
.home-hero-wrapper .carousel-caption h1{

    font-weight: bold;
    font-size:70px;
}
.home-hero-wrapper .carousel-caption p{
    font-weight: 500;
}
.home-hero-wrapper .form-control{
      border-top-left-radius: 30px;
      border-left: 20px;
      border-bottom-left-radius: 30px;
      border-right: 1.5px solid var(--grey);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      height: 100%;
   

}
.home-hero-wrapper .form-select{
border: none;
border-top-left-radius: 0px;
      border-left: 0px;
      border-bottom-left-radius: 0px;
      border-right: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
border-right: 1.5px  solid var(--grey);
height: 98%;

}

.home-hero-wrapper .search-input{

    align-items: center;
    height: 60px;
    
}
.home-hero-wrapper .search-input button{
    background-color: var(--green);
    color:var(--white);
    border: none;
    width: 50%;
    border-top-right-radius: 30px;
    border-right:20px;
    border-bottom-right-radius: 30px;
    height: 60px;

}
.home-hero-wrapper .search-input button:hover{
color: white !important;
font-weight: bold;


}
.home-wrapper .search-input{
overflow: hidden;

}
.sitewrapper{

    position: absolute;
}
.academic-reputation{

    margin-left: 140px;
    border: 1px solid white;
   width: 75%;
   border-top-left-radius:15px ;
   border-bottom-left-radius: 15px;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   background-color:var(--green-2);
   position: relative;

box-shadow:  0px 0px 10px 10px rgb(106, 102, 102);

   right: 3%;
   left: 3%;
   top:-100px;
}
.academic-reputation span{

color: var(--green);

}
.teacher-avatar img{
border-radius: 50%;
height: 40px;
width: 40px;

}
.teacher-avatar ul li{
list-style: none;
text-decoration: none;
margin-right: 2px;


}
.course-info{
text-align: center;

}
.course-schedule ul {
display: flex;


}
.course-schedule ul li{

    margin: 15px;
    list-style: none;
    color: var(--green);
}
.course-schedule span{
color: var(--green);
margin-right: 5px;

}
.courses-offered-wrapper{

    text-align: center;
    
        }
  
        .courses-offered-wrapper .carousel-control-prev {
  
            height: 40px;
            width: 40px;
            border-radius: 50%;
background-color: var(--green);


        }
        .courses-offered-wrapper .carousel-control-next{
         
         background-color:var(--green);
        
        border-radius: 50%;
        height: 40px;
        width: 40px;
        
    
        }
        .courses-offered-wrapper .carousel-control-next:hover{

            background-color: var(--grey);
        }
        .courses-offered-wrapper .carousel-control-prev:hover{
            background-color: var(--grey);
        }
      
        .courses-offered-wrapper .carousel-item{

margin:0;


        }
        
        .course-featured-card{
align-items: center;
        }
        .course-featured-card:hover{
            transform: scale(1.2);
        }
.course-lead-text ul  {
    border: 3px solid var(--grey-2);
    white-space: nowrap;
    padding-right: 0;
   padding-left: 0;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   border-bottom-left-radius:30px ;
   border-bottom-right-radius: 30px;
   margin-bottom: 100px;

}
.course-lead-text ul li{
    border-right: 3px solid var(--grey-2);
    
}
.course-lead-text ul li a{
    color: var(--black);
}
.course-lead-text ul li:nth-child(1){
    border-left: 3px solid var(--grey-2);
}

.course-lead-text ul li a:hover{
background-color: var(--green);
color:var(--white);
font-weight: bold;


}
 

/*Generic Classes */
.border-styling{
border-right: 3px solid var(--grey-2);

}
.lead-text{
    
    text-align: center;
    padding: 52px 0;
    }
    .lead-text h1{
    
        font-size: 50px;
    }
    .lead-text hr{
        display: block;
        height: 1px;
        
        border-top: 2px solid var(--green);
        margin: 1rem 0;
        padding: 3px;
    
        
    }
    
  